<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body style="font-size:20px; padding:50px;">

<header><% include ./partials/_header %></header>

	<h3> Your Short URLs</h3>

	 <% if (!username) { %>

	 <p>Login or register with the links above to view your Tiny URL database</p>

    <% } else { %>

	 <% for (var key in urls) { %>

	    <ul>
	    	<li> 
	    		<font size ="6" color="blue"><%= urls[key].longURL %></font>
	    		<br><a href = "/urls/<%= key %>"><%= key %></a> 
				<form method="GET" action="/urls/<%= key %>"><input type="submit" value="Edit your link"></form>
				 <form method="POST" action="/urls/<%= key %>/delete"><input type="submit" style="color:red" value="Delete your URL"></form>
				
			</li>	
	    </ul>

	    <% } %>
	<% } %>

	 <p><h5><center><a href="/urls/new"> Create a new Tiny URL</a></center></h5></p>
	

</body>
</html>